Body{
margin: 0;
padding: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}


#header{
background: url(../hbilder/Header.jpg) 100% 0 no-repeat fixed; 
background-size:cover;
height: 900px; 

}


#bigButton{
font-size:1.1em;
font-weight: bold;
background-color:#00BFFF	;
padding:8px;
border-radius: 25px;
margin-left:10px;
transition:0.2s;
}

#bigButton:hover{
background: no-repeat scroll 0% 0% rgba(0, 0, 0, 0.4);
transition:0.2s;
}

ul.nav{
position:fixed;
padding:20px;
background: no-repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
margin:0px;
font-weight: bold;
width:100%;

}

.nav{
text-align:center;


}

.nav li{
list-style:none;
display:inline;


}

.nav li a{
font-family:helvetica;
text-decoration:none;
Color:white;
padding: 10px;

}


.blank{
background-color:#454545;
height:350px;
margin-top:-20px;

}
.blank h1{
color:white;
text-align:center;
font-family:  "Arial";
font-weight: bold;
font-size: 3em;
line-height: 1.1em;
margin:0px;
text-transform: uppercase;
padding:10px;
}

.blank img{
margin:auto;
}
.blank p {
color:white;
text-align:center;
margin:auto;
font-family:  "Arial";
font-weight: normal;
font-size: 1em;
line-height: 1.1em;
text-transform: uppercase;
padding:10px;
width:600px;
}


#logo{
margin-top:5px;
padding:5px;
margin-left:100px;
z-index:1;
position:fixed;
background:url(../hbilder/biglogo2.png);
height:40px;
width:190px;
}


.story { 
height: 900px; 
padding: 0; 
margin: 0; 
width: 100%; 
max-width:100%;
margin: auto; 
border-top: 1px solid rgba(255,255,255,0.3); 
border-bottom: 1px solid rgba(0,0,0,0.4); 
}


#p2b{

height:auto;
width: 99%;
padding: 6px;
}

#Bilder2{
box-shadow: -10px 10px 10px 3px black;
margin-top:30px;


}

#blank2{

float:left;
margin-left: 260px;
margin-top: 50px;

}

#first { background: url(../hbilder/slide.jpg) 100% 0 no-repeat fixed; 
background-size:cover;
}
#second { background: url(../hbilder/slide2.1.jpg) 100% 0 no-repeat fixed;
background-size:cover;
 }
#third { background: url(../hbilder/slide3.jpg)  0 no-repeat fixed ;

background-size:cover;

 }
#fourth { background: url(../hbilder/slide4.jpg) 50% 0 no-repeat fixed; 

background-size:cover;

}


#footer1{

background: url(../hbilder/endoftheline.jpg);
background-size:cover;
}

footer{
height:100px;

}

